<footer>
  <div class="row expanded callout secondary">

    <div class="large-4 columns">
      <h5>REDES SOCIALES</h5>
      <div class="row small-up-4">
        <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
        <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
        <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
        <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
        <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
        <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
        <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
        <div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
      </div>
      
    </div>

  </div>
  <div class="row expanded">

    <div class="medium-6 columns">
      <ul class="menu">
        <li><a href="#">Legal</a></li>
        <li><a href="#">Partner</a></li>
        <li><a href="#">Explore</a></li>
      </ul>
    </div>

    <div class="medium-6 columns">
      <ul class="menu align-right">
      </ul>
    </div>
  </div>

	
	
</footer>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
	  
	 
  </body>
</html>
