<?php include("_header.html"); ?>

<h1 class="text-center">Bienvenido a AMPIFAC</h1>

<div class="text-center">
  <div >
    <div class="card">
      <div class="image">
        <img src="http://static.pexels.com/wp-content/uploads/2014/07/alone-clouds-hills-1909-527x350.jpg">
        <h4>Inscripción exitosa</h4>
      </div>
      <div class="content">
        <p><?= $name ?> ahora puedes inscribirte a los talleres y sesiones que ofrecemos en AMPIFAC</p>  
        <p>Tu nombre de usuario es: <?= $username ?> </p>
        <p>Tu número telefoníco es: <?= $phone ?></p>
        <p>Tu email es: <?= $email ?></p>
      </div>
      <div class="action">
      </div>
    </div>
  </div>
  <div class="medium-6 columns end">
    <div class="card">
      <div class="content">
      </div>
    </div>
  </div>
</div>


<?php include("_footer.html"); ?>