<?php include("_header.html"); ?>

<h2 class="text-center">Formulario de registro</h2>
 <div  class="form">

            <form id="contactform" action="registro.php" method="POST">

                <p class="contact"><label for="name">Nombre</label></p>
                <?php if (isset($error)) :?>  <?php endif ?>
                <input id="name" name="name" placeholder="Nombre y Apellidos" required="" tabindex="1" type="text">

               

                <p class="contact"><label for="email">Email</label></p>

                <input id="email" name="email" placeholder="example@domain.com" required="" type="email">

 

                <p class="contact"><label for="username">Crea nombre de usuario</label></p>

                <input id="username" name="username" placeholder="usuario" required="" tabindex="2" type="text">

 

                <p class="contact"><label for="password">Crea una contraseña</label></p>

                <input type="password" id="password" name="password" required="" type="text">

                <p class="contact"><label for="repassword">Confirma tu contraseña</label></p>

                <input type="password" id="confirmpassword" name="confirmpassword" required="" type="text">

 

               <fieldset>

                 <label>Fecha de nacimiento</label>

                  <label class="month">

                  <select class="select-style" name="BirthMonth">

                  <option value="">Mes</option>

                  <option  value="01">Enero</option>

                  <option value="02">Febrero</option>

                  <option value="03" >Marzo</option>

                  <option value="04">Abril</option>

                  <option value="05">Mayo</option>

                  <option value="06">Junio</option>

                  <option value="07">Julio</option>

                  <option value="08">Augosto</option>

                  <option value="09">Septiembre</option>

                  <option value="10">Octubre</option>

                  <option value="11">Noviembre</option>

                  <option value="12" >Diciembre</option>

                  </label>

                 </select>   
<p></p>
                <label>Día<p></p><input class="birthday" maxlength="2" name="BirthDay"  placeholder="Dia" required=""></label>
                <label>Año<input class="birthyear" maxlength="4" name="BirthYear" placeholder="Año" required=""></label>

              </fieldset>

 
				<label>Sexo</label>

            <select class="select-style gender" name="gender">
            <option value="select">Sexo</option>

            <option value="m">Masculino</option>

            <option value="f">Femenino</option>

            <option value="others">Otro</option>

            </select><br><br>

 
            <p class="contact"><label for="phone">Telefono</label></p>
            <input id="phone" name="phone" placeholder="Número sin guiones" required="" type="text"> <br>
            <input class="buttom" name="submit" id="submit" tabindex="5" value="Registrame" type="submit">   

   </form>

</div>


<?php include("_footer.html"); ?>